local/templates/main/tpl/dist/blocks/breadcrumb.html

<div class="bread">
  <div class="container">
    <ul class="bread__list" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
      <li class="bread__l-item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a class="bread__link" itemprop="item" href="./index.html"><span itemprop="name">Главная</span>
          <meta itemprop="position" content="1"/></a></li>
      <li class="bread__l-item"></li>
    </ul>
    <div class="bread__line"></div>
  </div>
</div>

local/templates/main/tpl/src/templates/blocks/breadcrumb.pug
div.bread
    div.container
        ul(itemscope itemtype="http://schema.org/BreadcrumbList").bread__list
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem").bread__l-item
                a(itemprop="item" href="./index.html").bread__link
                    span(itemprop="name") Главная
                    meta(itemprop="position" content="1")
            li.bread__l-item #{title}
        div.bread__line
