local/templates/main/tpl/dist/blocks/faq.html

<div class="prices">
  <div class="price__item">
    <div class="price">
      <div class="price__top">Почему сотрудничать с нами?</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Потому что</div>
        </div>
      </div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Работаете по всей России?</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Естественно</div>
        </div>
      </div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Можно ли получать больше скидок?</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Конечно</div>
        </div>
      </div>
    </div>
  </div>
</div>

local/templates/main/tpl/src/templates/blocks/faq.pug
div.prices
    div.price__item
        div.price
            div.price__top Почему сотрудничать с нами?
            div.price__list
                div.price__list-item
                    div.price__name Потому что

    div.price__item
        div.price
            div.price__top Работаете по всей России?
            div.price__list
                div.price__list-item
                    div.price__name Естественно

    div.price__item
        div.price
            div.price__top Можно ли получать больше скидок?
            div.price__list
                div.price__list-item
                    div.price__name Конечно
