local/templates/main/tpl/dist/blocks/header.html

<header class="header">
  <div class="container">
    <div class="h__row">
      <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
      <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"/></a></div>
      <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
      <nav class="h__nav-wrapper">
        <ul class="h__nav">
          <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
          <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
          <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
          <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
          <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
        </ul>
      </nav>
      <div class="h__burger">
        <div class="h__burger-line"></div>
        <div class="h__burger-line"></div>
      </div>
    </div>
  </div>
</header>
<div class="preloader">
  <div class="preloader__container">
    <div class="preloader__line preloader-line -loading"></div>
  </div>
</div>

local/templates/main/tpl/src/templates/blocks/header.pug
header.header
    div.container
        div.h__row
            div.h__mail-wrapper
                a(href="mailto:info@dentline.ru").h__mail-mobile
                a(href="mailto:info@dentline.ru").h__mail info@dentline.ru
            div.h__logo-wrapper
                a(href="index.html").h__logo
                    img(src='assets/images/content/logo.svg' alt="Dent Line Logo").h__logo-img
            div.h__phone-wrapper
                a(href="tel:+78007775412").h__phone-mobile
                a(href="tel:+78007775412").h__phone 8 (800) 777-54-12
            nav.h__nav-wrapper
                ul.h__nav
                    li.h__nav-item
                        a(href="./about.html").h__nav-link О компании
                    li.h__nav-item
                        a(href="./stomatology.html").h__nav-link Стоматология
                    li.h__nav-item
                        a(href="./frezer.html").h__nav-link Фрезерный центр
                    li.h__nav-item
                        a(href="./dental-lab.html").h__nav-link Зуботехническая лаборатория
                    li.h__nav-item
                        a(href="./contacts.html").h__nav-link Контакты
            div.h__burger
                div.h__burger-line
                div.h__burger-line
div.preloader
    div.preloader__container
        div.preloader__line.preloader-line.-loading
