local/templates/main/tpl/dist/blocks/prices.html

<div class="prices">
  <div class="price__item">
    <div class="price">
      <div class="price__top">Хирургия</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
          <div class="price__line"></div>
          <div class="price__price">1500 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление зуба I степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">2000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление зуба III степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">4000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
          <div class="price__line"></div>
          <div class="price__price">3000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление ретенированного зуба I степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">4000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление ретенированного зуба II степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">6000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление ретенированного зуба III степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">8000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление постоянного зуба с имплантацией биоматериала</div>
          <div class="price__line"></div>
          <div class="price__price">140 000 ₽</div>
        </div>
      </div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Консультация</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
          <div class="price__line"></div>
          <div class="price__price">1500 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
          <div class="price__line"></div>
          <div class="price__price">3000 ₽</div>
        </div>
        <div class="price__list-item">
          <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
          <div class="price__line"></div>
          <div class="price__price">3000 ₽</div>
        </div>
      </div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Несъёмное протезирование</div>
      <div class="price__list">
        <div class="price__list-item">
          <div class="price__name">Удаление зуба I степени сложности</div>
          <div class="price__line"></div>
          <div class="price__price">2000 ₽</div>
        </div>
      </div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Протезирование на имплантах</div>
      <div class="price__list"></div>
    </div>
  </div>
  <div class="price__item">
    <div class="price">
      <div class="price__top">Несъёмное протезирование</div>
      <div class="price__list"></div>
    </div>
  </div>
</div>

local/templates/main/tpl/src/templates/blocks/prices.pug
div.prices
    div.price__item
        div.price
            div.price__top Хирургия
            div.price__list
                div.price__list-item
                    div.price__name Удаление постоянного зуба с патологической подвижностью
                    div.price__line
                    div.price__price 1500 ₽
                div.price__list-item
                    div.price__name Удаление зуба I степени сложности
                    div.price__line
                    div.price__price 2000 ₽
                div.price__list-item
                    div.price__name Удаление зуба III степени сложности
                    div.price__line
                    div.price__price 4000 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба I степени сложности
                    div.price__line
                    div.price__price 4000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба II степени сложности
                    div.price__line
                    div.price__price 6000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба III степени сложности
                    div.price__line
                    div.price__price 8000 ₽
                div.price__list-item
                    div.price__name Удаление постоянного зуба с имплантацией биоматериала
                    div.price__line
                    div.price__price 140 000 ₽
    div.price__item
        div.price
            div.price__top Консультация
            div.price__list
                div.price__list-item
                    div.price__name Удаление постоянного зуба с патологической подвижностью
                    div.price__line
                    div.price__price 1500 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
    div.price__item
        div.price
            div.price__top Несъёмное протезирование
            div.price__list
                div.price__list-item
                    div.price__name Удаление зуба I степени сложности
                    div.price__line
                    div.price__price 2000 ₽
    div.price__item
        div.price
            div.price__top Протезирование на имплантах
            div.price__list
    div.price__item
        div.price
            div.price__top Несъёмное протезирование
            div.price__list
