local/templates/main/tpl/dist/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>О компании</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body class="-loading -page-home">
    <div class="page ">
      <header class="header">
        <div class="container">
          <div class="h__row">
            <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"></a></div>
            <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <nav class="h__nav-wrapper">
              <ul class="h__nav">
                <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="h__burger">
              <div class="h__burger-line"></div>
              <div class="h__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="bread">
          <div class="container">
            <ul class="bread__list" itemscope itemtype="http://schema.org/BreadcrumbList">
              <li class="bread__l-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="bread__link" itemprop="item" href="./index.html"><span itemprop="name">Главная</span>
                  <meta itemprop="position" content="1"></a></li>
              <li class="bread__l-item">О компании</li>
            </ul>
            <div class="bread__line"></div>
          </div>
        </div>
        <div class="container">
          <div class="content-block row">
            <aside class="left__menu col-3">
              <nav class="sidenav is-sticky">
                <ul class="sidenav__list">
                  <li class="sidenav__item sidenav__item--active"><a class="sidenav__link" href="#" data-anchor="about">О компании</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="team">Наша команда</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="present">Видеопрезентация</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="clients">Клиенты</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="faq">FAQ</a></li>
                </ul>
              </nav>
            </aside>
            <div class="page-content col-12 col-md-9">
              <div class="about">
                <section class="js-anchor" id="about">
                  <div class="block__content">
                    <div class="block__image wow zoomIn"><img src="assets/images/content/about_page.jpg" alt="О компании"></div>
                    <div class="block__text">
                      <div class="block__title">Несомненным нашим достоинством является коммуникация по приёму, обработке и доставке заказов.</div>
                      <p class="block__desc">Квалифицированные администраторы согласуют удобное для вас время, а курьерская служба доставит заказ без перебоев и задержек.</p>
                    </div>
                  </div>
                </section>
                <section class="js-anchor t-container" id="team">
                  <h3>Наша команда</h3>
                  <div class="s-wrapper">
                    <div class="s-title">лучшие спецы</div>
                    <div class="s-navigation"></div>
                  </div>
                  <div class="t-slider-wrapper">
                    <div class="t-slider">
                      <div class="t-slider__scene owl-carousel">
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-1.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-2.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-3.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-4.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-1.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-2.png" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="js-anchor" id="present">
                  <div class="block__content block__content--left">
                    <div class="block__image block__image--video" data-fancybox data-src="https://youtu.be/iy6mZpI2HNY"><img src="assets/images/content/about_present.jpg" alt="Видео презентация"></div>
                    <div class="block__text">
                      <div class="block__title">Мы уверены, что вам понравятся условия сотрудничества, а вашим пациентам — их  протезы.</div>
                      <p class="block__desc">
                        На все наши изделия мы даём гарантию и обещаем достойный результат, как с точки зрения эстетики, так и пофункциональным характеристикам. Каждая работа проходит контроль качества.</p>
                    </div>
                  </div>
                </section>
                <section class="js-anchor w-container" id="clients">
                  <h3>клиенты</h3>
                  <div class="s-wrapper">
                    <div class="s-title">Выбирают нас</div>
                    <div class="s-navigation"></div>
                  </div>
                  <div class="w-slider-wrapper">
                    <div class="w-slider">
                      <div class="w-slider__scene owl-carousel">
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/client1.png" alt="" data-fancybox data-src="assets/images/content/client1.png"></div></a></div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/client2.png" alt="" data-fancybox data-src="assets/images/content/client2.png"></div></a></div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/client3.png" alt="" data-fancybox data-src="assets/images/content/client3.png"></div></a></div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/client1.png" alt="" data-fancybox data-src="assets/images/content/client5.png"></div></a></div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="js-anchor" id="faq">
                  <h3>часто задаваемые вопросы</h3>
                  <div class="s-title">всё самое главное</div>
                  <div class="prices">
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Почему сотрудничать с нами?</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Потому что</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Работаете по всей России?</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Естественно</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Можно ли получать больше скидок?</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Конечно</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__item">© 2019 DentLine</div>
            <div class="footer__item"><a href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="footer__item"><a href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <div class="footer__item footer__item--copyright">С любовь от &nbsp;<a href="https://de-us.ru" target="_blank">Deus</a></div>
          </div>
        </div>
      </footer>
      <!--include blocks/popups-->
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/about.pug
extends layout

block vars
    - var bodyClass = '-page-home'
    - var title = 'О компании'
    -
        var menulinks = [
        {name:'О компании', href: 'about'},
        {name:'Наша команда', href: 'team'},
        {name:'Видеопрезентация', href:'present'},
        {name:'Клиенты', href:'clients'},
        {name:'FAQ',href:'faq'},
        ]

block title
    title #{title}

block header
    include blocks/header

block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.about
                    section#about.js-anchor
                        div.block__content
                            div.block__image.wow.zoomIn
                                img(src="assets/images/content/about_page.jpg" alt="О компании")
                            div.block__text
                                div.block__title Несомненным нашим достоинством является коммуникация по приёму, обработке и доставке заказов.
                                p.block__desc Квалифицированные администраторы согласуют удобное для вас время, а курьерская служба доставит заказ без перебоев и задержек.

                    section#team.js-anchor.t-container
                        h3 Наша команда
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#present.js-anchor
                        div.block__content.block__content--left
                            div(data-fancybox data-src="https://youtu.be/iy6mZpI2HNY").block__image.block__image--video
                                img(src="assets/images/content/about_present.jpg" alt="Видео презентация" )
                            div.block__text
                                div.block__title Мы уверены, что вам понравятся условия сотрудничества, а вашим пациентам — их  протезы.
                                p.block__desc На все наши изделия мы даём гарантию и обещаем достойный результат, как с точки зрения эстетики, так и по
                                    | функциональным характеристикам. Каждая работа проходит контроль качества.

                    section#clients.js-anchor.w-container
                        h3 клиенты
                        div.s-wrapper
                            div.s-title Выбирают нас
                            div.s-navigation

                        div.w-slider-wrapper
                            div.w-slider
                                div.w-slider__scene.owl-carousel
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(
                                                src="assets/images/content/client1.png"
                                                alt=''
                                                data-fancybox
                                                data-src="assets/images/content/client1.png"
                                                ).w-image-img
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client2.png" alt='' data-fancybox
                                                data-src="assets/images/content/client2.png").w-image-img

                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client3.png" alt='' data-fancybox
                                                data-src="assets/images/content/client3.png").w-image-img
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client1.png" alt='' data-fancybox
                                                data-src="assets/images/content/client5.png").w-image-img


                    section#faq.js-anchor
                        h3 часто задаваемые вопросы
                        div.s-title всё самое главное
                        include blocks/faq


block footer
    include blocks/footer
