local/templates/main/tpl/src/templates/contacts.pug
extends layout

block vars
    - var bodyClass = '-page-contacts'
    - var title = 'Контакты'

block title
    title #{title}

block header
    include blocks/header

block content

    include blocks/breadcrumb


    div.contacts
        .container
            div.contacts__top.row
                div.col-12.col-lg-6
                    div.contacts__title Наши реквизиты
                    p.contacts__text
                        | Общество с ограниченной ответственностью «ДентЛайн»
                        br
                        | Головной офис: 115093, г. Москва, ул. Терешкова, д. 48, офис 124
                        br
                        span ИНН
                        |  7775556662
                        br
                        span КПП
                        |  888999111
                        br
                        span ОГРН
                        |  1112223334444

                div.col-12.col-lg-5.offset-lg-1
                    div.contacts__title Контактные данные
                    p.contacts__text
                        span Телефон:
                        |  8 (800) 777-54-12
                        br
                        span Электронная почта:
                        |  info@dentline.ru
                        br
                        span График работы:
                        |  Пн-Вс с 09:00 до 21:00

            div.contacts__filter.row
                .contacts__groups.col-12.col-lg-4
                    .c-filter__title Выбрать город
                    select
                        option(data-display="Москва") Москва
                        option(value="1") Some option
                        option(value="2") Another option
                        option(value="3") A disabled option
                        option(value="4") Potato
                .contacts__items.col-12.col-lg-4
                    .c-filter__title Выбрать клинику
                    select
                        option(data-display="Select") Nothing
                        option(value="1") Some option
                        option(value="2") Another option
                        option(value="3") A disabled option
                        option(value="4") Potato

            div.contacts__map
                div.map#map


block footer
    include blocks/footer

local/templates/main/tpl/dist/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Контакты</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body class="-loading -page-contacts">
    <div class="page ">
      <header class="header">
        <div class="container">
          <div class="h__row">
            <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"></a></div>
            <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <nav class="h__nav-wrapper">
              <ul class="h__nav">
                <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="h__burger">
              <div class="h__burger-line"></div>
              <div class="h__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="bread">
          <div class="container">
            <ul class="bread__list" itemscope itemtype="http://schema.org/BreadcrumbList">
              <li class="bread__l-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="bread__link" itemprop="item" href="./index.html"><span itemprop="name">Главная</span>
                  <meta itemprop="position" content="1"></a></li>
              <li class="bread__l-item">Контакты</li>
            </ul>
            <div class="bread__line"></div>
          </div>
        </div>
        <div class="contacts">
          <div class="container">
            <div class="contacts__top row">
              <div class="col-12 col-lg-6">
                <div class="contacts__title">Наши реквизиты</div>
                <p class="contacts__text">Общество с ограниченной ответственностью «ДентЛайн»<br>Головной офис: 115093, г. Москва, ул. Терешкова, д. 48, офис 124<br><span>ИНН</span> 7775556662<br><span>КПП</span> 888999111<br><span>ОГРН</span> 1112223334444</p>
              </div>
              <div class="col-12 col-lg-5 offset-lg-1">
                <div class="contacts__title">Контактные данные</div>
                <p class="contacts__text"><span>Телефон:</span> 8 (800) 777-54-12<br><span>Электронная почта:</span> info@dentline.ru<br><span>График работы:</span> Пн-Вс с 09:00 до 21:00</p>
              </div>
            </div>
            <div class="contacts__filter row">
              <div class="contacts__groups col-12 col-lg-4">
                <div class="c-filter__title">Выбрать город</div>
                <select>
                  <option data-display="Москва">Москва</option>
                  <option value="1">Some option</option>
                  <option value="2">Another option</option>
                  <option value="3">A disabled option</option>
                  <option value="4">Potato</option>
                </select>
              </div>
              <div class="contacts__items col-12 col-lg-4">
                <div class="c-filter__title">Выбрать клинику</div>
                <select>
                  <option data-display="Select">Nothing</option>
                  <option value="1">Some option</option>
                  <option value="2">Another option</option>
                  <option value="3">A disabled option</option>
                  <option value="4">Potato</option>
                </select>
              </div>
            </div>
            <div class="contacts__map">
              <div class="map" id="map"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__item">© 2019 DentLine</div>
            <div class="footer__item"><a href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="footer__item"><a href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <div class="footer__item footer__item--copyright">С любовь от &nbsp;<a href="https://de-us.ru" target="_blank">Deus</a></div>
          </div>
        </div>
      </footer>
      <!--include blocks/popups-->
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" async></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
