local/templates/main/tpl/src/templates/dental-lab.pug
extends layout

block vars
    - var bodyClass = '-page-dental'
    - var title = 'Зуботехническая лаборатория'

    //-var links = [{name: 'О лаборатории', href: '#about'},{name:'', href:''},{name:'', href:''},{name:'', href:''},{name:'', href:''}]

    -
        var menulinks = [
            {name: 'О лаборатории', href: 'about'},
            {name:'Специалисты', href:'specs'},
            {name:'Услуги и цены', href:'services'},
            {name:'Фото работ', href:'photo'},
            {name:'Бланк наряд заказа',href:'blank'}
        ]

block title
    title #{title}

block header
    include blocks/header




block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.dental
                    section#about.dental__about.js-anchor
                        div.block__content
                            div.block__image.wow.fadeIn
                                img(src="assets/images/content/about.jpg" alt="Зуботехническая лаборатория")
                            div.block__text
                                div.block__title Cовременная зуботехническая лаборатория в Москве
                                p.block__desc Для современных пациентов, оплачивающих стоматологические услуги, крайне важна эстетика зубов,
                                    | гарантированный результат и скорость выполнения работ. Особенно, если это иностранные граждане.

                    section#specs.dental__specs.js-anchor.t-container
                        h3 Специалисты
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-5.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-0.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-0.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#services.dental__price.js-anchor
                        h3 Прайс лист зуботехнической лаборатории
                        div.s-title для стоматологов
                        include blocks/prices

                    section#photo.dental__photo.js-anchor.w-container
                        h3 Выполненые работы
                        div.s-wrapper
                            div.s-title лучшее из лучших
                            div.s-navigation

                        div.w-slider-wrapper
                            div.w-slider
                                div.w-slider__scene.owl-carousel
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(
                                                    src="assets/images/content/img-w0.jpg"
                                                    alt='Николаенко Георгий'
                                                    data-fancybox
                                                    data-src="assets/images/content/img-w0.jpg"
                                                    ).w-image-img

                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Вверхние челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w1.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w1.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Нижняя челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w2.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w2.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Вверхние челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w0.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w3.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Нижняя челюсть полностью из имплантов


                    section#blank.dentail__blank.js-anchor
                        h3 Для того чтобы сделать заказ нужно:
                        div.s-wrapper
                            div.s-title Скачать бланк заказа, заполните, сфотографировать и прикрепите в форму ниже.

                        div.form__container
                            div.blank__block
                                img(src="assets/images/content/blank.png" alt="Бланк заказа").blank__image
                                a(href="assets/images/content/blank.png" download target="_blank").blank__link Скачайте бланк

                            form#form-blank.form.form-blank.js-validate
                                input(type="hidden" name="uploaded_files" value="")
                                input(type="hidden" name="action" value="blank")
                                div.form__line
                                    div.form__input
                                        input(type="text" name="name" placeholder="Представьтесь").form__input-field
                                div.form__line
                                    div.form__input
                                        input(type="text" name="blank" placeholder="Прикрепить бланк заказа").form__input-field
                                    div.form__input.form__input-file
                                        div.dZUpload.dz-clickable#dZUpload
                                            div.dz-default.dz-message Выбрать файл
                                div.form__line
                                    div.form__input
                                        input(type="text" name="phone" placeholder="Телефон").form__input-field.phone
                                div.form__line
                                    div.form__input
                                        input(type="text" name="name" placeholder="E-mail").form__input-field
                                div.form__line
                                    div.form__input
                                        textarea(name="message" placeholder="Может, поясните").form__input-field
                                div.form__bottom
                                    //div.c-form__bottom-half
                                        input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                                        label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                                    a(type='submit' role="button").btn.form__link Отправить


block footer
    include blocks/footer

local/templates/main/tpl/dist/dental-lab.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Зуботехническая лаборатория</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body class="-loading -page-dental">
    <div class="page ">
      <header class="header">
        <div class="container">
          <div class="h__row">
            <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"></a></div>
            <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <nav class="h__nav-wrapper">
              <ul class="h__nav">
                <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="h__burger">
              <div class="h__burger-line"></div>
              <div class="h__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="bread">
          <div class="container">
            <ul class="bread__list" itemscope itemtype="http://schema.org/BreadcrumbList">
              <li class="bread__l-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="bread__link" itemprop="item" href="./index.html"><span itemprop="name">Главная</span>
                  <meta itemprop="position" content="1"></a></li>
              <li class="bread__l-item">Зуботехническая лаборатория</li>
            </ul>
            <div class="bread__line"></div>
          </div>
        </div>
        <div class="container">
          <div class="content-block row">
            <aside class="left__menu col-3">
              <nav class="sidenav is-sticky">
                <ul class="sidenav__list">
                  <li class="sidenav__item sidenav__item--active"><a class="sidenav__link" href="#" data-anchor="about">О лаборатории</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="specs">Специалисты</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="services">Услуги и цены</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="photo">Фото работ</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="blank">Бланк наряд заказа</a></li>
                </ul>
              </nav>
            </aside>
            <div class="page-content col-12 col-md-9">
              <div class="dental">
                <section class="dental__about js-anchor" id="about">
                  <div class="block__content">
                    <div class="block__image wow fadeIn"><img src="assets/images/content/about.jpg" alt="Зуботехническая лаборатория"></div>
                    <div class="block__text">
                      <div class="block__title">Cовременная зуботехническая лаборатория в Москве</div>
                      <p class="block__desc">
                        Для современных пациентов, оплачивающих стоматологические услуги, крайне важна эстетика зубов,гарантированный результат и скорость выполнения работ. Особенно, если это иностранные граждане.</p>
                    </div>
                  </div>
                </section>
                <section class="dental__specs js-anchor t-container" id="specs">
                  <h3>Специалисты</h3>
                  <div class="s-wrapper">
                    <div class="s-title">лучшие спецы</div>
                    <div class="s-navigation"></div>
                  </div>
                  <div class="t-slider-wrapper">
                    <div class="t-slider">
                      <div class="t-slider__scene owl-carousel">
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-1.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-2.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-3.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-4.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-5.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-0.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-0.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="dental__price js-anchor" id="services">
                  <h3>Прайс лист зуботехнической лаборатории</h3>
                  <div class="s-title">для стоматологов</div>
                  <div class="prices">
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Хирургия</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
                            <div class="price__line"></div>
                            <div class="price__price">1500 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">2000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба III степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">4000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">4000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба II степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">6000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба III степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">8000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с имплантацией биоматериала</div>
                            <div class="price__line"></div>
                            <div class="price__price">140 000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Консультация</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
                            <div class="price__line"></div>
                            <div class="price__price">1500 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Несъёмное протезирование</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">2000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Протезирование на имплантах</div>
                        <div class="price__list"></div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Несъёмное протезирование</div>
                        <div class="price__list"></div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="dental__photo js-anchor w-container" id="photo">
                  <h3>Выполненые работы</h3>
                  <div class="s-wrapper">
                    <div class="s-title">лучшее из лучших</div>
                    <div class="s-navigation"></div>
                  </div>
                  <div class="w-slider-wrapper">
                    <div class="w-slider">
                      <div class="w-slider__scene owl-carousel">
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/img-w0.jpg" alt="Николаенко Георгий" data-fancybox data-src="assets/images/content/img-w0.jpg"></div></a>
                          <div class="w-text"><a class="w-link" href="#">
                              <div class="w-name">Вверхние челюсть полностью из имплантов</div></a></div>
                        </div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/img-w1.jpg" alt="Николаенко Георгий" data-fancybox data-src="assets/images/content/img-w1.jpg"></div></a>
                          <div class="w-text"><a class="w-link" href="#">
                              <div class="w-name">Нижняя челюсть полностью из имплантов</div></a></div>
                        </div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/img-w2.jpg" alt="Николаенко Георгий" data-fancybox data-src="assets/images/content/img-w2.jpg"></div></a>
                          <div class="w-text"><a class="w-link" href="#">
                              <div class="w-name">Вверхние челюсть полностью из имплантов</div></a></div>
                        </div>
                        <div class="w-item"><a class="w-link" href="#">
                            <div class="w-image"><img class="w-image-img" src="assets/images/content/img-w0.jpg" alt="Николаенко Георгий" data-fancybox data-src="assets/images/content/img-w3.jpg"></div></a>
                          <div class="w-text"><a class="w-link" href="#">
                              <div class="w-name">Нижняя челюсть полностью из имплантов</div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="dentail__blank js-anchor" id="blank">
                  <h3>Для того чтобы сделать заказ нужно:</h3>
                  <div class="s-wrapper">
                    <div class="s-title">Скачать бланк заказа, заполните, сфотографировать и прикрепите в форму ниже.</div>
                  </div>
                  <div class="form__container">
                    <div class="blank__block"><img class="blank__image" src="assets/images/content/blank.png" alt="Бланк заказа"><a class="blank__link" href="assets/images/content/blank.png" download target="_blank">Скачайте бланк</a></div>
                    <form class="form form-blank js-validate" id="form-blank">
                      <input type="hidden" name="uploaded_files" value="">
                      <input type="hidden" name="action" value="blank">
                      <div class="form__line">
                        <div class="form__input">
                          <input class="form__input-field" type="text" name="name" placeholder="Представьтесь">
                        </div>
                      </div>
                      <div class="form__line">
                        <div class="form__input">
                          <input class="form__input-field" type="text" name="blank" placeholder="Прикрепить бланк заказа">
                        </div>
                        <div class="form__input form__input-file">
                          <div class="dZUpload dz-clickable" id="dZUpload">
                            <div class="dz-default dz-message">Выбрать файл</div>
                          </div>
                        </div>
                      </div>
                      <div class="form__line">
                        <div class="form__input">
                          <input class="form__input-field phone" type="text" name="phone" placeholder="Телефон">
                        </div>
                      </div>
                      <div class="form__line">
                        <div class="form__input">
                          <input class="form__input-field" type="text" name="name" placeholder="E-mail">
                        </div>
                      </div>
                      <div class="form__line">
                        <div class="form__input">
                          <textarea class="form__input-field" name="message" placeholder="Может, поясните"></textarea>
                        </div>
                      </div>
                      <div class="form__bottom">
                        <!--div.c-form__bottom-half
                        input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                        label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                        --><a class="btn form__link" type="submit" role="button">Отправить</a>
                      </div>
                    </form>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__item">© 2019 DentLine</div>
            <div class="footer__item"><a href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="footer__item"><a href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <div class="footer__item footer__item--copyright">С любовь от &nbsp;<a href="https://de-us.ru" target="_blank">Deus</a></div>
          </div>
        </div>
      </footer>
      <!--include blocks/popups-->
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
