local/templates/main/tpl/dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body class="-loading -page-home">
    <div class="page main">
      <header class="header">
        <div class="container">
          <div class="h__row">
            <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"></a></div>
            <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <nav class="h__nav-wrapper">
              <ul class="h__nav">
                <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="h__burger">
              <div class="h__burger-line"></div>
              <div class="h__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="index">
          <div class="index__banners wow fadeIn">
            <div class="container">
              <div class="p-slider">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide row">
                    <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                    <div class="p-slider__right col-12 col-lg-6">
                      <div class="p-slider__text-wrapper">
                        <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Действуйте</a>
                      </div>
                    </div>
                  </div>
                  <div class="p-slider__slide row">
                    <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                    <div class="p-slider__right col-12 col-lg-6">
                      <div class="p-slider__text-wrapper">
                        <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Действуйте</a>
                      </div>
                    </div>
                  </div>
                  <div class="p-slider__slide row">
                    <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                    <div class="p-slider__right col-12 col-lg-6">
                      <div class="p-slider__text-wrapper">
                        <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Действуйте</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-slider__controls">
                  <div class="p-slider__controls-inner"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="index__blocks wow fadeIn">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="index__block-item index__block-item--small1"><a class="index__block-link-wrapper" href="frezer.html"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">Фрезерный центр</h2><a class="index__block-link" href="frezer.html">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/block1.png" alt="Фрезерный центр"></div>
                  </div>
                  <div class="index__block-item index__block-item--small2"><a class="index__block-link-wrapper" href="dental-lab.html"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">Зуботехническая лаборатория</h2><a class="index__block-link" href="dental-lab.html">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/block2.png" alt="Зуботехническая лаборатория"></div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 wrapper-big">
                  <div class="index__block-item index__block-item--big"><a class="index__block-link-wrapper" href="stomatology.html"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">Стоматология в краснодаре</h2><a class="index__block-link" href="stomatology.html">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/block3.png" alt="Стоматология в краснодаре"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="index__special s-container wow fadeIn">
            <div class="container">
              <h3>Спецпредложение</h3>
              <div class="s-wrapper">
                <div class="s-title">акционные товары</div>
                <div class="s-navigation"></div>
              </div>
              <div class="s-slider">
                <div class="s-slider__scene owl-carousel">
                  <div class="index__block-item"><a class="index__block-link-wrapper" href="#"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">До 30 июня, огромные скидки на импланты зубов</h2><a class="index__block-link" href="#">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/sblock1.png" alt="Фрезерный центр"></div>
                  </div>
                  <div class="index__block-item"><a class="index__block-link-wrapper" href="#"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">Диагностическое оборудования по специальной цене</h2><a class="index__block-link" href="#">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/sblock2.png" alt="Зуботехническая лаборатория"></div>
                  </div>
                  <div class="index__block-item"><a class="index__block-link-wrapper" href="#"></a>
                    <div class="index__block-text">
                      <h2 class="index__block-name">Стоматология в краснодаре</h2><a class="index__block-link" href="#">
                        Подробнее<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5.5 5.5L1 10" stroke="black" stroke-width="1.5"/>
</svg>
</a>
                    </div>
                    <div class="index__block-image"><img class="index__block-image-img" src="assets/images/content/sblock1.png" alt="Стоматология в краснодаре"></div>
                  </div>
                </div>
                <div class="p-slider__controls">
                  <div class="p-slider__controls-inner"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="index__about">
            <div class="container">
              <div class="title-wrapper wow fadeIn">
                <h3>О компании</h3>
                <div class="title">12 лет на рынке</div>
              </div>
              <div class="index__about-block row">
                <div class="index__about-image col-12 col-lg-5 wow fadeIn"><img class="index__about-image-img" src="assets/images/content/index_about.png" alt="О компании"></div>
                <div class="index__about-content col-12 col-lg-6 offset-lg-1 wow fadeIn">
                  <p class="index__about-description">Толпа неустойчиво понимает тест, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах.<br><br>Чувство существенно притягивает онтогенез речи, что вызвало развитие функционализма и психологических.</p>
                  <div class="index__about-text row">
                    <div class="index__about__t-block col-12 col-lg-6">
                      <div class="t__block-title">Самая большая сеть офисов в ЮФО</div>
                      <div class="t__block-desc">обеспечивет бесперебойную логистику по Краснодарскому краю</div>
                    </div>
                    <div class="index__about__t-block col-12 col-lg-6">
                      <div class="t__block-title">Замкнутый цикл</div>
                      <div class="t__block-desc">обучение, фрезерный центр, шоу рум, доставка без привлечения транспортных компаний</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="index__form row wow fadeIn">
              <div class="index__form-header">
                <div class="index__form-title-wrapper col-12 col-lg-4 offset-lg-1">
                  <div class="index__form-title">Нет времени собирать заказ?</div>
                  <p class="index__form-desc">Оставьте нам свои контакты и наши<br>сотрудники сделают это за Вас</p>
                </div>
                <form class="js-validate form form--inline col-12 col-lg-6 offset-lg-1 row" id="callback">
                  <input type="hidden" name="action" value="callback">
                  <div class="col-12 col-sm-6">
                    <div class="form__input">
                      <input class="form__input-field phone" type="text" name="phone" placeholder="+7(___)-___-__">
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <button class="btn" value="Отправить">Отправить</button>
                  </div>
                </form>
              </div>
              <div class="index__form-ok">
                <div class="index__form-ok-left col-4">
                  <div class="index__form-ok-img">
                    <div class="col-11 offset-1"><svg width="112" height="100" viewBox="0 0 112 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M110.432 0.606219C110.152 0.656919 109.891 0.80209 109.7 1.01247C95.4295 15.9436 61.6153 52.2497 46.8535 67.7186L25.6878 49.0313C25.1897 48.5155 24.2465 48.5385 23.7742 49.078C23.3021 49.6177 23.4042 50.5556 23.9816 50.981L46.0816 70.481C46.579 70.9114 47.4129 70.8736 47.8691 70.4004C62.3326 55.2681 97.1436 17.8932 111.569 2.80037C112.331 2.0244 111.504 0.431402 110.432 0.606616V0.606219ZM0.134766 7.10622V98.106C0.134766 98.7867 0.754086 99.406 1.43477 99.406H92.4348C93.1155 99.406 93.7346 98.7867 93.7348 98.106V52.6063C93.7478 51.9195 93.1217 51.2876 92.4348 51.2876C91.7479 51.2876 91.125 51.9195 91.1348 52.6063V96.806H2.73477V8.40622H76.8348C77.5216 8.41532 78.1532 7.7931 78.1532 7.10622C78.1532 6.41934 77.5216 5.79651 76.8348 5.80622H1.43477C0.630456 5.80752 0.187286 6.48192 0.134766 7.10622Z" fill="white"/>
</svg>

                    </div>
                  </div>
                </div>
                <div class="index__form-ok-right col-6 offset-2">
                  <div class="index__form-ok-title">Спасибо за заявку!</div>
                  <p class="index__form-ok-desc">В ближайщее время с Вами<br>свяжется менеджер</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__item">© 2019 DentLine</div>
            <div class="footer__item"><a href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="footer__item"><a href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <div class="footer__item footer__item--copyright">С любовь от &nbsp;<a href="https://de-us.ru" target="_blank">Deus</a></div>
          </div>
        </div>
      </footer>
      <!--include blocks/popups-->
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/index.pug
extends layout

block vars
    - var bodyClass = '-page-home'
    - var pageClass = 'main'

block title
    title Главная

block header
    include blocks/header

block content
    div.index
        div.index__banners.wow.fadeIn
            div.container
                div.p-slider
                    div.p-slider__scene.owl-carousel
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте

                    div.p-slider__controls
                        div.p-slider__controls-inner


        div.index__blocks.wow.fadeIn
            .container
                .row
                    .col-12.col-lg-6
                        div.index__block-item.index__block-item--small1
                            a(href="frezer.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Фрезерный центр
                                a(href="frezer.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block1.png" alt='Фрезерный центр').index__block-image-img
                        div.index__block-item.index__block-item--small2
                            a(href="dental-lab.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Зуботехническая лаборатория
                                a(href="dental-lab.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block2.png" alt='Зуботехническая лаборатория').index__block-image-img
                    .col-12.col-lg-6.wrapper-big
                        div.index__block-item.index__block-item--big
                            a(href="stomatology.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Стоматология в краснодаре
                                a(href="stomatology.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block3.png" alt='Стоматология в краснодаре').index__block-image-img
        div.index__special.s-container.wow.fadeIn
            .container
                h3 Спецпредложение
                div.s-wrapper
                    div.s-title акционные товары
                    div.s-navigation
                div.s-slider
                    div.s-slider__scene.owl-carousel
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name До 30 июня, огромные скидки на импланты зубов
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock1.png" alt='Фрезерный центр').index__block-image-img
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Диагностическое оборудования по специальной цене
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock2.png" alt='Зуботехническая лаборатория').index__block-image-img
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Стоматология в краснодаре
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock1.png" alt='Стоматология в краснодаре').index__block-image-img

                    div.p-slider__controls
                        div.p-slider__controls-inner

        div.index__about
            .container
                div.title-wrapper.wow.fadeIn
                    h3 О компании
                    div.title 12 лет на рынке
                div.index__about-block.row
                    div.index__about-image.col-12.col-lg-5.wow.fadeIn
                        img(src="assets/images/content/index_about.png" alt="О компании").index__about-image-img
                    div.index__about-content.col-12.col-lg-6.offset-lg-1.wow.fadeIn
                        p.index__about-description Толпа неустойчиво понимает тест, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах.
                            br
                            br
                            | Чувство существенно притягивает онтогенез речи, что вызвало развитие функционализма и психологических.
                        div.index__about-text.row
                            div.index__about__t-block.col-12.col-lg-6
                                div.t__block-title Самая большая сеть офисов в ЮФО
                                div.t__block-desc обеспечивет бесперебойную логистику по Краснодарскому краю
                            div.index__about__t-block.col-12.col-lg-6
                                div.t__block-title Замкнутый цикл
                                div.t__block-desc обучение, фрезерный центр, шоу рум, доставка без привлечения транспортных компаний
        div.container
            div.index__form.row.wow.fadeIn
                div.index__form-header
                    div.index__form-title-wrapper.col-12.col-lg-4.offset-lg-1
                        div.index__form-title Нет времени собирать заказ?
                        p.index__form-desc Оставьте нам свои контакты и наши
                            br
                            | сотрудники сделают это за Вас
                    form#callback.js-validate.form.form--inline.col-12.col-lg-6.offset-lg-1.row
                        input(type="hidden" name="action" value="callback")
                        .col-12.col-sm-6
                            .form__input
                                input(type="text" name="phone" placeholder="+7(___)-___-__").form__input-field.phone
                        .col-12.col-sm-6
                            button(value="Отправить").btn Отправить
                div.index__form-ok
                    div.index__form-ok-left.col-4
                            div.index__form-ok-img
                                .col-11.offset-1
                                    include ../images/static/form-ok.svg
                    div.index__form-ok-right.col-6.offset-2
                        div.index__form-ok-title Спасибо за заявку!
                        p.index__form-ok-desc В ближайщее время с Вами
                            br
                            | свяжется менеджер

block footer
    include blocks/footer
