local/templates/main/tpl/dist/stomatology.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Стоматология</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body class="-loading -page-stomatology">
    <div class="page ">
      <header class="header">
        <div class="container">
          <div class="h__row">
            <div class="h__mail-wrapper"><a class="h__mail-mobile" href="mailto:info@dentline.ru"></a><a class="h__mail" href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="h__logo-wrapper"><a class="h__logo" href="index.html"><img class="h__logo-img" src="assets/images/content/logo.svg" alt="Dent Line Logo"></a></div>
            <div class="h__phone-wrapper"><a class="h__phone-mobile" href="tel:+78007775412"></a><a class="h__phone" href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <nav class="h__nav-wrapper">
              <ul class="h__nav">
                <li class="h__nav-item"><a class="h__nav-link" href="./about.html">О компании</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./stomatology.html">Стоматология</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./frezer.html">Фрезерный центр</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./dental-lab.html">Зуботехническая лаборатория</a></li>
                <li class="h__nav-item"><a class="h__nav-link" href="./contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="h__burger">
              <div class="h__burger-line"></div>
              <div class="h__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="bread">
          <div class="container">
            <ul class="bread__list" itemscope itemtype="http://schema.org/BreadcrumbList">
              <li class="bread__l-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="bread__link" itemprop="item" href="./index.html"><span itemprop="name">Главная</span>
                  <meta itemprop="position" content="1"></a></li>
              <li class="bread__l-item">Стоматология</li>
            </ul>
            <div class="bread__line"></div>
          </div>
        </div>
        <div class="container">
          <div class="content-block row">
            <aside class="left__menu col-3">
              <nav class="sidenav is-sticky">
                <ul class="sidenav__list">
                  <li class="sidenav__item sidenav__item--active"><a class="sidenav__link" href="#" data-anchor="about">О клинике</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="special">Специальные предложения</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="specs">Специалисты</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="services">Услуги и цены</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="order">Запись на приём</a></li>
                  <li class="sidenav__item"><a class="sidenav__link" href="#" data-anchor="address">Адрес клиники</a></li>
                </ul>
              </nav>
            </aside>
            <div class="page-content col-12 col-md-9">
              <div class="stomatology">
                <section class="js-anchor" id="about">
                  <div class="block__content">
                    <div class="block__image wow fadeIn">
                      <div class="block__images-wrapper"><img src="assets/images/content/img-1.png" alt="" data-fancybox data-src="assets/images/content/img-1.png"><img src="assets/images/content/img-2.png" alt="" data-fancybox data-src="assets/images/content/img-2.png"><img src="assets/images/content/img-3.png" alt="" data-fancybox data-src="assets/images/content/img-3.png"><img class="block__images-video" src="assets/images/content/img-4v.png" alt="" data-fancybox data-src="https://youtu.be/iy6mZpI2HNY"></div>
                    </div>
                    <div class="block__text">
                      <div class="block__title">Мы создавали клинику, придя в которую, пациент сразу мог бы погрузиться в атмосферу комфорта и спокойствия.</div>
                      <p class="block__desc">В арсенале наших врачей самое современное оборудование, для лечения зубов применяются лучшие материалы, эффективные обезболивающие средства.</p>
                    </div>
                  </div>
                </section>
                <section class="js-anchor row" id="special">
                  <div class="p-slider">
                    <div class="p-slider__scene owl-carousel">
                      <div class="p-slider__slide row">
                        <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                        <div class="p-slider__right col-12 col-lg-6">
                          <div class="p-slider__text-wrapper">
                            <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Получить скидку 10%</a>
                          </div>
                        </div>
                      </div>
                      <div class="p-slider__slide row">
                        <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                        <div class="p-slider__right col-12 col-lg-6">
                          <div class="p-slider__text-wrapper">
                            <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Получить скидку 10%</a>
                          </div>
                        </div>
                      </div>
                      <div class="p-slider__slide row">
                        <div class="p-slider__image col-12 col-lg-4 offset-lg-1"><img class="p-slder__image-img" src="assets/images/content/index_banner.png" alt="Banner Image"></div>
                        <div class="p-slider__right col-12 col-lg-6">
                          <div class="p-slider__text-wrapper">
                            <div class="p-slider__text">Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.</div><a class="btn" href="#" role="button">Получить скидку 10%</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-slider__controls">
                      <div class="p-slider__controls-inner"></div>
                    </div>
                  </div>
                </section>
                <section class="js-anchor t-container" id="specs">
                  <h3>Специалисты</h3>
                  <div class="s-wrapper">
                    <div class="s-title">лучшие спецы</div>
                    <div class="s-navigation"></div>
                  </div>
                  <div class="t-slider-wrapper">
                    <div class="t-slider">
                      <div class="t-slider__scene owl-carousel">
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-1.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-2.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-3.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-4.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-5.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-1.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                        <div class="t-item"><a class="t-link" href="#">
                            <div class="t-image"><img class="t-image-img" src="assets/images/content/img_doctor-2.jpg" alt="Николаенко Георгий"></div></a>
                          <div class="t-text"><a class="t-link" href="#">
                              <div class="t-name">Николаенко Георгий</div></a>
                            <div class="t-post">Директор</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="dental__price js-anchor" id="services">
                  <h3>Прайс лист стоматологии</h3>
                  <div class="s-title">для клиентов</div>
                  <div class="prices">
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Хирургия</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
                            <div class="price__line"></div>
                            <div class="price__price">1500 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">2000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба III степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">4000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">4000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба II степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">6000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление ретенированного зуба III степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">8000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с имплантацией биоматериала</div>
                            <div class="price__line"></div>
                            <div class="price__price">140 000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Консультация</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление постоянного зуба с патологической подвижностью</div>
                            <div class="price__line"></div>
                            <div class="price__price">1500 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                          <div class="price__list-item">
                            <div class="price__name">Удаление третьего моляра (зуба мудрости) простое</div>
                            <div class="price__line"></div>
                            <div class="price__price">3000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Несъёмное протезирование</div>
                        <div class="price__list">
                          <div class="price__list-item">
                            <div class="price__name">Удаление зуба I степени сложности</div>
                            <div class="price__line"></div>
                            <div class="price__price">2000 ₽</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Протезирование на имплантах</div>
                        <div class="price__list"></div>
                      </div>
                    </div>
                    <div class="price__item">
                      <div class="price">
                        <div class="price__top">Несъёмное протезирование</div>
                        <div class="price__list"></div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="js-anchor" id="order">
                  <h3>Запись на приём</h3>
                  <div class="s-wrapper">
                    <div class="s-title">заполните форму ниже.</div>
                  </div>
                  <form class="form form-order js-validate" id="form-order">
                    <input type="hidden" name="action" value="order">
                    <div class="form__line form__line--group">
                      <div class="form__input">
                        <input class="form__input-field" type="text" name="name" placeholder="Представьтесь">
                      </div>
                      <div class="form__input">
                        <input class="form__input-field phone" type="text" name="phone" placeholder="Телефон">
                      </div>
                      <div class="form__input">
                        <input class="form__input-field" type="text" name="name" placeholder="E-mail">
                      </div>
                    </div>
                    <div class="form__line">
                      <div class="form__input">
                        <textarea class="form__input-field" name="message" placeholder="Может, поясните"></textarea>
                      </div>
                    </div>
                    <div class="form__bottom">
                      <!--div.c-form__bottom-half
                      input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                      label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                      --><a class="btn form__link" type="submit" role="button">Отправить</a>
                    </div>
                  </form>
                </section>
                <section class="js-anchor" id="address">
                  <h3>адрес клиники</h3>
                  <div class="s-wrapper">
                    <div class="s-title">г. краснодар, ул.пушкина 35, офис 607</div>
                  </div>
                  <div class="contacts__map wow fadeIn">
                    <div class="map" id="map"></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__item">© 2019 DentLine</div>
            <div class="footer__item"><a href="mailto:info@dentline.ru">info@dentline.ru</a></div>
            <div class="footer__item"><a href="tel:+78007775412">8 (800) 777-54-12</a></div>
            <div class="footer__item footer__item--copyright">С любовь от &nbsp;<a href="https://de-us.ru" target="_blank">Deus</a></div>
          </div>
        </div>
      </footer>
      <!--include blocks/popups-->
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" async></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/stomatology.pug
extends layout

block vars
    - var bodyClass = '-page-stomatology'
    - var title = 'Стоматология'
    -
        var menulinks = [
            {name:'О клинике', href: 'about'},
            {name:'Специальные предложения', href: 'special'},
            {name:'Специалисты', href:'specs'},
            {name:'Услуги и цены', href:'services'},
            {name:'Запись на приём',href:'order'},
            {name:'Адрес клиники',href:'address'}
        ]

block title
    title #{title}

block header
    include blocks/header

block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.stomatology
                    section#about.js-anchor
                        div.block__content
                            div.block__image.wow.fadeIn
                                div.block__images-wrapper
                                    img(src="assets/images/content/img-1.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-1.png")
                                    img(src="assets/images/content/img-2.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-2.png")
                                    img(src="assets/images/content/img-3.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-3.png")
                                    img(src="assets/images/content/img-4v.png" alt="" data-fancybox
                                    data-src="https://youtu.be/iy6mZpI2HNY" class="block__images-video")
                            div.block__text
                                div.block__title Мы создавали клинику, придя в которую, пациент сразу мог бы погрузиться в атмосферу комфорта и спокойствия.
                                p.block__desc В арсенале наших врачей самое современное оборудование, для лечения зубов применяются лучшие материалы, эффективные обезболивающие средства.

                    section#special.js-anchor.row
                        div.p-slider
                            div.p-slider__scene.owl-carousel
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                            div.p-slider__controls
                                div.p-slider__controls-inner

                    section#specs.js-anchor.t-container
                        h3 Специалисты
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-5.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#services.dental__price.js-anchor
                        h3 Прайс лист стоматологии
                        div.s-title для клиентов
                        include blocks/prices

                    section#order.js-anchor
                        h3 Запись на приём
                        div.s-wrapper
                            div.s-title заполните форму ниже.

                        form#form-order.form.form-order.js-validate
                            input(type="hidden" name="action" value="order")
                            div.form__line.form__line--group
                                div.form__input
                                    input(type="text" name="name" placeholder="Представьтесь").form__input-field
                                div.form__input
                                    input(type="text" name="phone" placeholder="Телефон").form__input-field.phone
                                div.form__input
                                    input(type="text" name="name" placeholder="E-mail").form__input-field
                            div.form__line
                                div.form__input
                                    textarea(name="message" placeholder="Может, поясните").form__input-field
                            div.form__bottom
                                //div.c-form__bottom-half
                                    input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                                    label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                                a(type='submit' role="button").btn.form__link Отправить

                    section#address.js-anchor
                        h3 адрес клиники
                        div.s-wrapper
                            div.s-title г. краснодар, ул.пушкина 35, офис 607


                        .contacts__map.wow.fadeIn
                            div.map#map
block footer
    include blocks/footer
